* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main_container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  margin-top: -20px;
  text-align: center;
  font-size: 32px;
  color: #2a2a3c;
}

.columns {
  height: 590px;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 50px;
}

.section {
  width:27%;
  height: 100%;
  border: 2px solid #CCC;
  display: inline-block;
  margin: 0 5px;
  max-width: 280px;
  padding: 14px;
  padding-top: 2px;
  border-radius:  7px;
  text-align: center;
}

.log_section {
  width: 38%;
  max-width: 400px;
}

.txt_emp_new, .txt_project_new {
  width:130px;
  padding: 0 10px;
}

.drop_area {
  margin: 10px auto;
  width: 80%;
  height: 115px;
  border: 3px solid #ff9f40;
  font-size: 32px;
  color: #a5a5a5;
  border-radius: 8px;
}

.drop_emp {
  width: 100%;
  height: 51px;
  line-height: 51px;
  background: #eafbff;
  border-radius: 8px;
  padding: 3px 0;
}

.drop_project {
  width: 100%;
  height: 51px;
  line-height: 51px;
  background: #fffaea;
  border-radius: 8px;
  padding: 3px 0;
}

.txt_log_time {
  width: 30px;
  padding: 0 10px;
}

.btn {
    background-color: #e7e7e7;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
  background-color: #c3c3c3;
}

.btn_add {
    padding: 6px 16px;
    font-size: 14px;
    margin: 4px 2px;
}

.list {
 height: 400px;
 margin: 10px 0;
 border: 1px solid #ccc;
 padding: 5px 10px;
 overflow: auto;
}

.log_list {
  height: 270px;
  padding: 5px;
}

.log_list table {
  width: 100%;
}

.log_list tr {
  cursor: move;
}

.hidden {
  display: none;
}

.employee {
  text-align: left;
  background: #3cf;
  margin: 3px;
  height: 32px;
  line-height: 32px;
  padding: 8px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: move;
}

.emp_label {
  display: inline-block;
}

.emp_hour {
  float: right;
  background-color: white;
  width: 50px;
  color: #3cf;
  text-align: center;
  border-radius: 4px;
  margin-right: -4px;
}

.project {
  text-align: center;
  background: #ffd24c;
  margin: 3px 16px;
  height: 32px;
  line-height: 32px;
  padding: 8px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: move;
}

.log_emp {
  background: #3cf;
  border-radius: 6px;
}

.log_project {
  background: #ffd24c;
  border-radius: 6px;
}

.log_time {
  background: #75ff75;
  border-radius: 6px;
  width: 38px;
}

.btn_save {
    padding: 12px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

.trash {
  border: 8px solid #ff661e;
  width: 140px;
  height: 150px;
  border-radius: 18px;
  padding: 20px;
  background: url(../images/trash_can.png) no-repeat center;
  background-size: 140px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.trash:after {
  clear: both;
}